<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="907bac">  <td>18/10/12 15:04:40</td>   <td>0</td> <td title="&gt;&gt;TestRunner.launchBrowser()[pri:0, instance:testcases.TestingFunctions@436e852b]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="7faa95">  <td>18/10/12 15:04:46</td>   <td>5961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestingFunctions.launchURL()[pri:0, instance:testcases.TestingFunctions@436e852b]">launchURL</td> 
  <td>TestNG-test=FTX1009-1@1156756755</td>   <td></td> </tr>
<tr bgcolor="907bac">  <td>18/10/12 15:04:53</td>   <td>13410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.trashBrowser()[pri:0, instance:testcases.TestingFunctions@436e852b]">&lt;&lt;trashBrowser</td> 
<td>&nbsp;</td>  <td>TestNG-test=FTX1009-1@1156756755</td>   <td></td> </tr>
</table>
